<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro de Usuarios</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Usuario</label>
        <input type="text" name="username" id=""> <br>
        <label for="">Password</label>
        <input type="password" name="password1" id=""> <br>
        <label for="">Repita Password</label>
        <input type="password" name="password2" id=""> <br>
        <button type="submit">Registrarse</button>
        {% if error %}
            <h2>{{error}}</h2>
        {% endif %}
        {% if mensaje  %}
            <h2>{{mensaje}}</h2>
        {% endif %}
    </form>
    <a href="../">Login</a>
</body>
</html>